body {
    background: #65686A;
}

.layout {
    overflow: hidden;
}

/*condition*/
.condition, .place {
    margin: 10px auto;
    border: 1px solid black;
}

.condition ul {
    padding: 0 10px;
}

.condition ul li {
    padding: 5px 0;
    *zoom: 1;
}

.condition ul li:before {
    display: table;
    content: " ";
}

.condition ul li:after {
    display: table;
    content: " ";
    clear: both;
}

.condition ul li > p {
    float: left;
    width: 180px;
    margin: 0 10px;
}

.condition ul li > p > input {
    width: 50px;
}

.condition ul li > p > span {
    padding-left: 10px;
}

/*place*/
.place {
    position: relative;
    width: 1200px;
    height: 500px;
}

.place .boxs {
    position: absolute;
    width: 100px;
    height: 100px;
}

.place .boxs > div {
    position: absolute;
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background: #000;
}

.place .boxs .inner1 {
    left: 0;
    top: 0;
}

.place .boxs .inner2 {
    right: 0;
    top: 0;
}

.place .boxs .inner3 {
    left: 0;
    bottom: 0;
}

.place .boxs .inner4 {
    right: 0;
    bottom: 0;
}

.box1 {
    left: 111px;
    top: 111px;
    background: #DD5044;
}

.box2 {
    left: 500px;
    top: 111px;
    background: #1BA261;
}

.box3 {
    left: 800px;
    top: 111px;
    background: #FFCE44;
}